<h1>{{title}} 🚀</h1>
<p>Welcome </p>
<button><a href="/profile/:id">Profile</a></button>
<br>
<br>
<br>
<br>
<button><a href="/auth/login">Log In</a></button>
<button><a href="/auth/signup">Sign Up</a></button>
<button><a href="/auth/logout">Log Out</a></button>
<br>
<br>
<button><a href="/rooms/create">Create a New Room</a></button>
<button><a href="/rooms">Rooms List</a></button>